/info/
/nbproject/private/
/librerias/calc_xyz/nbproject/private/
/librerias/dialogo/nbproject/private/
/librerias/editor/nbproject/private/
/librerias/jCalc/nbproject/private/
/librerias/pintar2D/nbproject/private/
/librerias/xeoKtps/nbproject/private/
/otherPrograms/fireball/nbproject/private/
/otherPrograms/java_STM_AFM/nbproject/private/
/librerias/dialogo/dist/
/librerias/dialogo/build/
/librerias/calc_xyz/build/
/librerias/editor/build/
/librerias/editor/dist/
/otherPrograms/fireball/build/
/librerias/pintar2D/dist/
/librerias/pintar2D/build/
/librerias/calc_xyz/dist/
/librerias/jCalc/build/
/librerias/jCalc/dist/
/build/
/librerias/xeoKtps/build/
/librerias/xeoKtps/dist/
/otherPrograms/fireball/dist/
/dist/
/otherPrograms/java_STM_AFM/build/
